*.o
*.lo
*.la
*.so
*.gmo

Makefile
Makefile.in
m4/
.deps
.libs

INSTALL
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
configure.ac
depcomp
engines/mice/generate
engines/mice/preview.h
engines/mice/slide.h
engines/simple/fallback.h
engines/simple/preview.h
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
libessm/expidus1-session-2.0.pc
ltmain.sh
missing
mkinstalldirs
panel-plugin/essm-logout-plugin-ui.h
panel-plugin/essm-logout-plugin.desktop
po/.intltool-merge-cache*
po/Makefile.in.in
po/POTFILES
po/stamp-it
scripts/startexpidus1
scripts/xinitrc
scripts/xinitrc.in
scripts/xscreensaver.desktop
settings/stamp-expidus1-session-marshal.h
settings/expidus-session-settings.desktop
settings/expidus1-session-marshal.c
settings/expidus1-session-marshal.h
settings/expidus1-session-settings
settings/expidus1-session-settings_ui.h
settings/essm-client-dbus-client.h
settings/essm-manager-dbus-client.h
settings/essm-client-dbus-client.c
settings/essm-manager-dbus-client.c
settings/expidus1-session-settings.ui~
stamp-h1
expidus.desktop
expidus1-session-logout/expidus1-session-logout
expidus1-session-logout/expidus1-session-logout.desktop
expidus1-session/chooser-icon.h
expidus1-session/stamp-essm-marshal.h
expidus1-session/expidus1-session
expidus1-session/essm-manager-dbus.h
expidus1-session/essm-manager-dbus.c
expidus1-session/essm-marshal.c
expidus1-session/essm-marshal.h
essm-shutdown-helper/essm-shutdown-helper
ChangeLog
expidus1-session.spec
expidus1-session/org.expidus.session.policy
expidus1-session/essm-chooser-icon.h
expidus1-session/essm-client-dbus.h
expidus1-session/essm-client-dbus.c
